html {
  font-family: Helvetica, Arial,  sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  vertical-align: revert;
  margin: 0px;
  background: #0035EC;
  color: #fff;
}

main {
  padding: 0px 20px;
}

.top {
  margin-top: 144px;
  font-size: 56px;
}

.top__logo {
  font-size: 32px;
  color: goldenrod;
}



.preview {
  margin-top: 96px;
  margin-bottom: 48px;
}


.preview__kit {
  height: 680px;
  background: #063396;
  background-image: url('../images/quran-cover.jpg');
  background-size: cover;
}

.pray {

}




.pray__item {
  padding: 48px 0px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.pray__item:last-child {
  border-bottom: 1px solid transparent;
}

.pray__link {
  font-size: 56px;
  color: #fff;
  text-decoration: none;
}

.pray__link:hover {
  opacity: 0.7;
}

.footer {
  margin-top: 96px;
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright__logo {
  width: 96px;
  height: 96px;
  background-image: url('../images/logo.svg');
  flex-shrink: 0;
}

.copyright__description {
  margin-left: 42px;
  font-size: 32px;
}

.footer__date {
  margin-top: 11px;
  font-size: 32px;
  display: none;
}

@media screen and (min-width: 737px) {

  
}


@media screen and (min-width: 1024px) {

}


@media screen and (min-width: 1280px) {
  .top__container {
    width: 1060px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .pray__list {
    width: 720px;
  }

  .top__description {
    width: 720px;
    font-weight: bold;
  }

  .pray__container {
    width: 1060px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
  }

  .preview__container {
    width: 1060px;
    margin: auto;
  }

  .footer__container {
    padding: 72px 0px;
    border-top: 1px solid rgba(255,255,255,0.2);
    width: 1060px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .footer__date {
    display: block;
  }
  
}