html {
  font-family: Helvetica, Arial,  sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  vertical-align: revert;
  margin: 0px;
  background: #002D72;
  color: #fff;
}

.top {
  margin-top: 72px;
  font-size: 24px;
  line-height: 1.3em;
  text-align: center;
}

.top__container {
  margin: 0px 20px;
}

.top__logo {
  font-size: 24px;
  font-weight: bold;
  margin-top: 6px;
  color: #FBDB65;
  margin-bottom: 16px;
  text-align: center;
}

.preview {
  margin-top: 48px;
  margin-bottom: 32px;
}

.preview__kit {
  height: 240px;
  background-image: url('../images/quran-cover.jpg');
  background-size: cover;
}

.pray__container {
  padding: 0px 20px;
}

.pray__item {
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding: 24px 0px;
}

.pray__item:last-child {
  border-bottom: 1px solid transparent;
}

.pray__link {
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
}

.pray__link:hover {
  color: #3CCBDA;
}

.footer {
  margin-top: 48px;
  margin-bottom: 48px;
}

.copyright {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.copyright__logo {
  width: 72px;
  height: 72px;
  background-image: url('../images/logo.svg');
  background-size: cover;
  flex-shrink: 0;
}

.copyright__description {
  font-size: 32px;
  margin-top: 20px;
  text-align: center;
  display: none;
}

.footer__date {
  margin-top: 11px;
  font-size: 32px;
  display: none;
}

@media screen and (min-width: 737px) {

  
}


@media screen and (min-width: 1024px) {

}


@media screen and (min-width: 1280px) {

  
  .top {
    margin-top: 144px;
    font-size: 56px;
    text-align: left;
  }

  .top__logo {
    margin-top: 6px;
    font-size: 32px;
  }

  .top__logo {
    margin-bottom: 0px;
  }

  .top__container {
    width: 1060px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .preview {
    margin-top: 96px;
    margin-bottom: 48px;
  }

  .preview__kit {
    height: 640px;
  }

  .pray__list {
    width: 720px;
  }

  .top__description {
    width: 720px;
    font-weight: bold;
  }

  .pray__container {
    width: 1060px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
  }

  .preview__container {
    width: 1060px;
    margin: auto;
  }

  .footer {
    margin-top: 96px;
  }
  

  .footer__container {
    padding: 72px 0px;
    border-top: 1px solid rgba(255,255,255,0.2);
    width: 1060px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .footer__date {
    display: block;
  }

  .pray__link {
    font-size: 56px;
  }

  .pray__item {
    padding: 48px 0px;
  }

  .pray__link {
    font-size: 32px;
  }

  .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .copyright__logo {
    width: 96px;
    height: 96px;
  }
  
  .copyright__description {
    margin-left: 42px;
    margin-top: 0px;
    text-align: left;
    font-size: 32px;
    display: block;
  }
  
}